:root {
    --outer-width: 100px;
    --outer-height: 100px;
    --tile-merge-time: 0.3s;
}

html , body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
}
.grid{
    width: 500px;
    height: 500xpx;
    aspect-ratio: 1;
    position: relative;
    top: 0;
    left: 0; 
    right: 0; 
    margin-inline: auto; 

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    position: relative;
    background-color: rebeccapurple;
}

.cell{
    display: flex;
    position: relative;
    flex: 1 1 0;
    background-color: red;
    border: 5px solid green;

    justify-content: center;
    align-items: center;
}

.addTileButton{
    margin: 0 auto;
    height: fit-content;
    display: none;
}

.removeTileButton{
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
    display: none;
}

.arrow{
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value {
    width: 40px;
    text-align: center;
    font: inherit;
    color: inherit;
    appearance: textfield;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
}
.tile-container {
    top: 0;
    left: 0;
}
.tile {
    width: 90px;
    height: 90px;
    background-color: yellow;
    border: 5px solid #bbada0;
    justify-content: center;
    align-items: center;
}

.outer {
    top: 0;
    left: 0;
    position: absolute;
    transition: transform var(--tile-merge-time) ease-in-out;
}


.outer[xpos="0"][ypos="0"]{
    transform: translate(calc(0 * var(--outer-width)), calc(0 * var(--outer-height)));
}
.outer[xpos="1"][ypos="0"]{
    transform: translate(calc(1 * var(--outer-width)), calc(0 * var(--outer-height)));
}
.outer[xpos="2"][ypos="0"]{
    transform: translate(calc(2 * var(--outer-width)), calc(0 * var(--outer-height)));
}
.outer[xpos="3"][ypos="0"]{
    transform: translate(calc(3 * var(--outer-width)), calc(0 * var(--outer-height)));
}
.outer[xpos="4"][ypos="0"]{
    transform: translate(calc(4 * var(--outer-width)), calc(0 * var(--outer-height)));
}

.outer[xpos="0"][ypos="1"]{
    transform: translate(calc(0 * var(--outer-width)), calc(1 * var(--outer-height)));
}
.outer[xpos="1"][ypos="1"]{
    transform: translate(calc(1 * var(--outer-width)), calc(1 * var(--outer-height)));
}
.outer[xpos="2"][ypos="1"]{
    transform: translate(calc(2 * var(--outer-width)), calc(1 * var(--outer-height)));
}
.outer[xpos="3"][ypos="1"]{
    transform: translate(calc(3 * var(--outer-width)), calc(1 * var(--outer-height)));
}
.outer[xpos="4"][ypos="1"]{
    transform: translate(calc(4 * var(--outer-width)), calc(1 * var(--outer-height)));
}

.outer[xpos="0"][ypos="2"]{
    transform: translate(calc(0 * var(--outer-width)), calc(2 * var(--outer-height)));
}
.outer[xpos="1"][ypos="2"]{
    transform: translate(calc(1 * var(--outer-width)), calc(2 * var(--outer-height)));
}
.outer[xpos="2"][ypos="2"]{
    transform: translate(calc(2 * var(--outer-width)), calc(2 * var(--outer-height)));
}
.outer[xpos="3"][ypos="2"]{
    transform: translate(calc(3 * var(--outer-width)), calc(2 * var(--outer-height)));
}
.outer[xpos="4"][ypos="2"]{
    transform: translate(calc(4 * var(--outer-width)), calc(2 * var(--outer-height)));
}

.outer[xpos="0"][ypos="3"]{
    transform: translate(calc(0 * var(--outer-width)), calc(3 * var(--outer-height)));
}
.outer[xpos="1"][ypos="3"]{
    transform: translate(calc(1 * var(--outer-width)), calc(3 * var(--outer-height)));
}
.outer[xpos="2"][ypos="3"]{
    transform: translate(calc(2 * var(--outer-width)), calc(3 * var(--outer-height)));
}
.outer[xpos="3"][ypos="3"]{
    transform: translate(calc(3 * var(--outer-width)), calc(3 * var(--outer-height)));
}
.outer[xpos="4"][ypos="3"]{
    transform: translate(calc(4 * var(--outer-width)), calc(3 * var(--outer-height)));
}

.outer[xpos="0"][ypos="4"]{
    transform: translate(calc(0 * var(--outer-width)), calc(4 * var(--outer-height)));
}
.outer[xpos="1"][ypos="4"]{
    transform: translate(calc(1 * var(--outer-width)), calc(4 * var(--outer-height)));
}
.outer[xpos="2"][ypos="4"]{
    transform: translate(calc(2 * var(--outer-width)), calc(4 * var(--outer-height)));
}
.outer[xpos="3"][ypos="4"]{
    transform: translate(calc(3 * var(--outer-width)), calc(4 * var(--outer-height)));
}
.outer[xpos="4"][ypos="4"]{
    transform: translate(calc(4 * var(--outer-width)), calc(4 * var(--outer-height)));
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0); }

50% {
    opacity: 1;
    transform: scale(1.5); } 
  100% {
    opacity: 1;
    transform: scale(1); } 
}


.appear {
  animation: appear 0.2s ease;
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.disappear {
  animation: disappear 0.10s ease;
  animation-fill-mode: forwards;
}


