html , body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.gameBoard {
    display: flexbox;
    flex-direction: column;
    position: absolute;
    height: 50vh;
    aspect-ratio: 1;
}
.row {
    background-color: green;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-evenly;

}

.cell {
    background-color: red;
    position: relative;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    flex: 1 1 auto;
    aspect-ratio: 1;
}